*{
    padding: 0;
    margin: 0;
}

body{

    width: 100%;
    height: fit-content;
    background-color: skyblue;
    border: solid 10px lightgray;
    margin: 10px auto;
}

/* navigation*/

nav ul{
    background-color:steelblue;
    border: solid black 2px;
    margin-bottom: 10px ;
    text-align: center;
}


nav ul li{
    display: inline-block;
    border: solid white 2px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-sizing: border-box;
}
nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li:hover{
    background-color: #ffffff;

}
nav ul li:active{
    background-color: orange;
}

#question ul{
    border: solid black 2px;
    margin-bottom: 10px ;
    text-align: center;
    background-color: lightcoral;
    
}








/* mywork page */
div ul{
    margin-bottom: 10px ;
    display:flex;
}

div ul li{
    
    border: solid black 2px;
    margin: 10px;
    text-align: center;
    width: fit-content;
    list-style-type: none;
}

div ul li a{
    text-transform: uppercase;
    
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: xx-large;
    background-color: lightcoral;
}


/* blog */
header{
    position: fixed;
    top: 0;
    width: 100%;
    
}

section{
    margin-top: 50px;
    border: solid 1px black;
    padding: 5px 30px;
    font-family: Arial, Helvetica, sans-serif;
}

article{
    line-height: 25px;
    text-align: justify;
    font-size: 15px;
}

.title{
    font-size: 23px;
    font-weight: bold;
}
.date{
    text-transform: capitalize;
    font-style: italic;
    font-size: 15px;
}

/* Gallery page*/
.Galleryheader{
    text-align: center;
    font-size: xx-large;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    width: inherit;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: white 2px solid;
    margin-top: 40px;
}

.container{
    background: ffffff;
    overflow: auto;
    max-width: 100%;
    margin: auto;
  
}

.photo{
    float: left;
    
    width: 30%;
    margin: 1.6%;
    

}

.photo img{
    width: 100%;
    height: 400px;
}
.caption{
    text-align: center;
}



/* Contact page*/


.top{
    width: 100%;
    height: 400px;
    margin-top: 60px;
}

.profilephoto img {
    
    width: 400px;
    height: 400px;
    border-radius: 100%;
    float: left;
    margin-right: 50px;
}
.text{
    width: 50%;
    float: left;
    padding-top: 100px;
    
}



.logos{
    margin-top: 10px;
    border-bottom: black 1px solid;
    padding: 20px;
    box-sizing: border-box;
}

.contact{
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
}



.form{
    width: 50%;
    overflow: auto;
    margin-right: 6%;

    
}
.map{
    width: 42%;
    overflow:auto;
}


.label , .input-field{
    float: left;
    width: 50%;
    height: 100%;
    
}

.label label{
    float: left;
    display: block;
    clear: left;
    margin-bottom: 20px;
    box-sizing: border-box;
    
}

.input-field input,select,textarea{
    width: 100%;
    
    float: left;
    display: block;
    clear: left;
    margin-bottom: 20px;
    box-sizing: border-box;
}
#in , #in2{
    margin-bottom: 90px;
    box-sizing: border-box;
    
}

/*index*/
#textindex{
    margin-bottom: 20px;
}
#top-index{
    padding-bottom: 20px ;
    border-bottom: 2px solid white;
    margin-bottom: 20px;


}

.body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    
}

.skills, .work , .hobbies{
    padding: 10px;
    width: 100%;
    height: 200px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    
    
}

.criterie,.value, .job, .date ,.sports ,.types{
    width: 25%;
    float: left;
    
}

.skills h3,p, .work h3,p ,.hobbies h3,p{
    text-align: justify;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.head2{
    font-weight: bold;
    margin-bottom: 10px;
}

.sport-type , .book-name{
    margin-left: 20px;
}
.book-name{
    font-style: italic;
}







